{erl_opts, [debug_info]}.
{deps, [
    {telegram_bot_api, "2.5.0"}
]}.

{project_plugins, [
    rebar3_ex_doc,
    rebar3_hex
]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_url, "https://github.com/krot3232/logger_telegram_h"},
    {api_reference, true},
    {prefix_ref_vsn_with_v, false}
]}.

{plugins, [rebar3_hex]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.
